@{
    string name = Request.QueryString["name"];

    if ("add" == Request.QueryString["action"])
    {
        SL.Util.RequestUtil req = new SL.Util.RequestUtil();
        string title = req.String("title");
        string url = req.String("url");
        string content = req.String("content");
        int sort = req.Int("sort");

        if (req.HasError)
        {
            Json.Write(new { success = false, msg = req.FirstError, errors = req.GetErrors() }, Output);
            return;
        }

        var settingUtil = new SL.Util.SettingUtil<SL.Web.Model.HtmlBlock>(name + "HtmlBlock");
        settingUtil.Add(new SL.Web.Model.HtmlBlock
        {
            Title = title,
            Sort = sort,
            Content = content
        }, "ID");


        SL.Util.HtmlUtil.Output(new { success = true });
        return;
    }

    ViewBag.Title = "HTML管理";
    Layout = "~/Views/Shared/_IFrameLayout.cshtml";
}
<div id="form"></div>
<script>
    seajs.use(['jquery','lib/util','lib/form','lib/grid','lib/global.css'],function ($,_,Form) {
        var form=new Form($('#form'),{
            title: "HTML添加",
            url: '?action=add&name='+_.queryString('name'),
            controls: {
                title: {
                    type: 'text',
                    label: '标题',
                    emptyAble: false,
                    emptyText: '请填写标题'
                },
                content: {
                    type: 'html',
                    label: '内容'
                },
                sort: {
                    type: 'number',
                    label: '排序',
                    value: 0
                }
            },
            buttons: [{
                text: '提交',
                click: function () {
                    form.submit(function (res) {
                        if(res.success) {
                            location.href="/manage/media/htmlblocks?name="+_.queryString('name')
                        } else
                            alert(res.msg);
                    });
                }
            },{
                text: '取消',
                click: function () {
                    location.href="/manage/media/htmlblocks?name="+_.queryString('name')
                }
            }]
        });

    });
</script>
