@{
    ViewBag.Title = "";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@section header{
    <script type="text/javascript">
        resizePopup(350,190);

        $.ready(function () {
            var vld=new $.Validation([{
                id: "desc",
                emptyAble: false,
                emptyText: "请填写描述"
            },{
                id: "url",
                emptyAble: false,
                emptyText: "请填写链接地址"
            },{
                id: "sort",
                emptyAble: false,
                emptyText: "请填写排序",
                regex: /^\d+$/,
                regexText: "必须是数字"
            }]);
            $("form1").onsubmit=function () {
                return vld.validate();
            }
        });
    </script>
}
<h2>添加链接</h2>
<form id="form1" action="" method="post" enctype="multipart/form-data">
<input type="hidden" id="name" name="name" value="@(Request.QueryString["name"])" />
<table class="form">
    <tr>
        <td><i>*</i>描述：</td>
        <td><input type="text" id="desc" name="desc" /></td>
    </tr>
    <tr>
        <td><i>*</i>排序：</td>
        <td><input type="text" id="sort" name="sort" value="0" /></td>
    </tr>
    <tr>
        <td><i>*</i>链接：</td>
        <td><input id="url" name="url" /></td>
    </tr>
    <tr>
        <td colspan="2" class="buttons"><input type="submit" value="添加" class="button" />
            <input type="button" value="返回" class="button" onclick="window.location.href='/Manage/Media/HtmlBlocks/?name=@(Request.QueryString["name"])'" />
        </td>
    </tr>
</table>
</form>
