@{
    string name = Request.QueryString["name"];
    var settingUtil = new SL.Util.SettingUtil<SL.Web.Model.HtmlBlock>(name + "HtmlBlock");

    if ("get" == Request.QueryString["action"])
    {
        var data = settingUtil.Get();

        Json.Write(new { success = true, data = data }, Output);
        return;
    }
    else if ("delete" == Request.QueryString["action"])
    {
        int id = int.Parse(Request.Form["id"]);

        var data = settingUtil.FirstOrDefault(a => a.ID == id);
        settingUtil.Delete(data);

        Json.Write(new { success = true, data = true }, Output);
        return;
    }

    ViewBag.Title = "HTML管理";
    Layout = "~/Views/Shared/_IFrameLayout.cshtml";
}
<h1>HTML管理</h1>
<div id="toolbar" class="toolbar"></div>
<div id="grid"></div>
<script type="text/javascript">

    seajs.use(['jquery','lib/util','lib/buttons','lib/grid','lib/global.css'],function ($,_,Buttons) {

        var buttons=new Buttons("#toolbar",[{
            text: "添加",
            ico: 'add',
            click: function () {
                location.href="/manage/media/addHtmlBlock?name="+_.queryString('name');
            }
        },{
            text: "修改",
            ico: "modify",
            disabled: true,
            click: function () {
                var data=grid.selectedRow().data;
                location.href="/manage/media/modifyHtmlBlock?name="+_.queryString('name')+"&id="+data.ID;
            }
        },{
            text: "删除",
            ico: "delete",
            disabled: true,
            click: function () {
                if(!window.confirm('确认删除？')) return;
                var data=grid.selectedRow().data;

                $.ajax({
                    url: '?action=delete',
                    type: 'post',
                    data: {
                        id: data.ID
                    },
                    dataType: 'json',
                    success: function (res) {
                        if(res.success) {
                            alert('删除成功！');
                            grid.search();
                        } else
                            alert(res.msg);
                    }
                });
            }
        }]);

        var grid=$('#grid').grid({
            search: {
                beforeSend: function () {
                    buttons.items([1,2]).disable();
                },
                url: '?action=get&name='+_.queryString('name')
            },
            rowHeight: 100,
            onRowSelect: function (row,data) {
                buttons.items([1,2]).enable();
            },
            columns: [{
                text: '编号',
                bind: 'ID',
                width: 4
            },{
                text: '标题',
                bind: 'Title',
                width: 10
            },{
                text: '排序',
                bind: 'Sort',
                width: 4
            }]
        }).search();
    });
</script>
