@using SL.Data
@using SL.Util
@{
    RequestUtil req = new RequestUtil();

    if ("add" == Request.QueryString["action"])
    {
        string teacherName = req.String("teacherName", false, "need teacherName");
        string description = req.String("description", false, "need description");
        var cover = req.File("cover");
        var video = req.File("video", exts: "mp4|flv|wav", extText: "请上传mp4格式的视频");
        int sort = req.Int("sort");

        if (req.HasError)
        {
            HtmlUtil.Output(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        string src = cover.IsEmpty ? null : cover.Save();
        string videoSrc = video.IsEmpty ? null : video.Save();

        SQL.Execute("insert into Teacher (TeacherName,Cover,Description,Sort,Video) values (@p0,@p1,@p2,@p3,@p4)", teacherName, src, description, sort, videoSrc);

        HtmlUtil.Output(new { success = true });
        return;
    }
    else if ("modify" == Request.QueryString["action"])
    {
        int id = req.Int("id", false, "need id");
        string teacherName = req.String("teacherName", false, "need title");
        string description = req.String("description", false, "need description");
        var cover = req.File("cover");
        var video = req.File("video", exts: "mp4|flv|wav", extText: "请上传mp4格式的视频");
        int sort = req.Int("sort");

        if (req.HasError)
        {
            HtmlUtil.Output(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        string set = "";
        List<object> parameters = new List<object> { id, teacherName, description, sort };

        if (!cover.IsEmpty)
        {
            string origSrc = SQL.QueryValue<string>("select Cover from Teacher where TeacherID=@p0", id);

            RequestFile.Delete(origSrc);
            string src = cover.Save();

            set = ",Cover=@p" + parameters.Count;
            parameters.Add(src);
        }

        if (!video.IsEmpty)
        {
            string origSrc = SQL.QueryValue<string>("select Video from Teacher where TeacherID=@p0", id);

            RequestFile.Delete(origSrc);
            string src = video.Save();

            set = ",Video=@p" + parameters.Count;
            parameters.Add(src);
        }

        SQL.Execute("update Teacher set TeacherName=@p1,Description=@p2,Sort=@p3" + set + " where TeacherID=@p0", parameters.ToArray());

        HtmlUtil.Output(new { success = true });
        return;
    }
    else if ("delete" == Request.QueryString["action"])
    {
        int id = req.Int("id", false, "need id");

        if (req.HasError)
        {
            HtmlUtil.Output(new { success = false, msg = req.FirstError, errors = req.GetErrors() });
            return;
        }

        string origSrc = SQL.QueryValue<string>("select Cover from Teacher where TeacherID=@p0", id);

        RequestFile.Delete(origSrc);

        origSrc = SQL.QueryValue<string>("select Video from Teacher where TeacherID=@p0", id);

        RequestFile.Delete(origSrc);

        SQL.Execute("delete from Teacher where TeacherID=@p0", id);

        HtmlUtil.Output(new { success = true });
        return;
    }
    else if ("query" == Request.QueryString["action"])
    {
        string keywords = req.String("keywords");

        string where = "1=1";
        List<object> parameters = new List<object>();

        if (!string.IsNullOrEmpty(keywords))
        {
            where += " and (TeacherName like '%'+@p" + parameters.Count + "+'%')";
            parameters.Add(keywords);
        }

        var data = SQL.Query("select TeacherID,TeacherName,Cover,Video,Description,Sort from Teacher where " + where + " order by Sort desc", parameters.ToArray());

        if (data != null)
        {
            data.All(a =>
            {
                a.Cover = RequestFile.FullUrl(a.Cover);
                a.Video = RequestFile.FullUrl(a.Video);
                return true;
            });
        }

        HtmlUtil.Output(new { success = true, data = data });
        return;
    }

    ViewBag.Title = "教师管理";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<h1>教师管理</h1>
<div id="toolbar" class="toolbar"></div>
<div id="grid"></div>
<script>
    seajs.use(['jquery','lib/buttons','lib/popup','lib/grid','lib/global.css'],function ($,Buttons,popup) {

        //添加
        var addingDialog=new popup.Form({
            url: '?action=add',
            title: '添加教师',
            width: 600,
            height: 400,
            controls: {
                teacherName: {
                    label: '教师姓名',
                    type: 'text',
                    emptyAble: false,
                    emptyText: '请填写教师姓名'
                },
                cover: {
                    label: '图片',
                    type: 'file'
                },
                video: {
                    label: '视频',
                    type: 'file'
                },
                sort: {
                    label: '排序',
                    type: 'text',
                    value: '0'
                },
                description: {
                    label: '教师描述',
                    type: 'textarea',
                    emptyAble: false,
                    emptyText: '请填写正文'
                }
            },
            buttons: [{
                text: '添加',
                click: function () {
                    addingDialog.submit({
                        beforeSend: function () {
                        },
                        success: function (res) {
                            if(res.success) {
                                addingDialog.hide().reset();
                                grid.search();
                            } else
                                alert(res.msg);
                        },
                        error: function () {
                        }
                    });
                }
            },{
                text: '取消',
                click: function () {
                    addingDialog.hide();
                }
            }]
        });

        //修改
        var modifyingDialog=new popup.Form({
            url: '?action=modify',
            title: '修改教师',
            width: 600,
            height: 400,
            controls: {
                id: {
                    type: 'hidden'
                },
                teacherName: {
                    label: '教师名称',
                    type: 'text',
                    emptyAble: false,
                    emptyText: '请填写教师名称'
                },
                cover: {
                    label: '图片',
                    type: 'file'
                },
                video: {
                    label: '视频',
                    type: 'file'
                },
                sort: {
                    label: '排序',
                    type: 'text',
                    value: '0'
                },
                description: {
                    label: '教师描述',
                    type: 'textarea',
                    emptyAble: false,
                    emptyText: '请填写正文'
                }
            },
            buttons: [{
                text: '修改',
                click: function () {
                    modifyingDialog.submit({
                        beforeSend: function () {
                        },
                        success: function (res) {
                            if(res.success) {
                                modifyingDialog.hide().reset();
                                grid.search();
                            } else
                                alert(res.msg);
                        },
                        error: function () {
                        }
                    });
                }
            },{
                text: '取消',
                click: function () {
                    modifyingDialog.hide();
                }
            }]
        });

        var buttons=new Buttons("#toolbar",[{
            text: "添加",
            ico: 'add',
            click: function () {
                addingDialog.show();
            }
        },{
            text: "修改",
            ico: "modify",
            disabled: true,
            click: function () {
                var data=grid.selectedRow().data;
                modifyingDialog.control("id").val(data.TeacherID);
                modifyingDialog.control("teacherName").val(data.TeacherName);
                modifyingDialog.control("sort").val(data.Sort);
                modifyingDialog.control("description").val(data.Description);
                modifyingDialog.show();
            }
        },{
            text: "删除",
            ico: "delete",
            disabled: true,
            click: function () {
                if(!window.confirm('确认删除？')) return;
                var data=grid.selectedRow().data;

                $.ajax({
                    url: '?action=delete',
                    type: 'post',
                    data: {
                        id: data.LessionID
                    },
                    dataType: 'json',
                    success: function (res) {
                        if(res.success) {
                            alert('删除成功！');
                            grid.search();
                        } else
                            alert(res.msg);
                    }
                });
            }
        }]);

        var grid=$('#grid').grid({
            search: {
                data: {
                    keywords: {
                        label: '关键字',
                        type: 'text'
                    }
                },
                beforeSend: function () {
                    buttons.items([1,2]).disable();
                },
                url: '?action=query'
            },
            onRowSelect: function (row,data) {
                buttons.items([1,2]).enable();
            },
            columns: [{
                text: '编号',
                bind: 'TeacherID',
                width: 6
            },{
                text: '教师名',
                bind: 'TeacherName',
                width: 10
            },{
                text: '教师描述',
                bind: 'Description',
                width: 10
            },{
                text: '排序',
                bind: 'Sort',
                width: 6
            }]
        }).search();

    });
</script>
